* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    
}
/* main container */
.main-container {    
    display: flex;
    flex-direction: column;
}
/* header section */
header {
    max-width: 100vw;
    height: 60px;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;    
}
.logo a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
display: flex;
font-size: 18px;
flex-wrap: wrap;
list-style-type: none;
gap: 12px;
}
li a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Hero section */

.hero {
    background-color: #1F2937;
}
.hero-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px  100px;
    flex-wrap: wrap;  
}
.hero-left {    
    max-width: 400px;        
}
div .hero-right {    
    width: 400px; 
    height: 200px;
    background-color: grey;      
}
.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
}
.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    
    
}

.hero-btn {
    background-color:#3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
    margin: 12px 0 ;
    padding: 8px 12px;
}

/* Info section */

.info-section {
    padding-bottom: 50px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.info-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 12px;
    
}

.info-container img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 12px; 
       
}
.info-container div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
    padding-left: 12px;
    
}
.info-subtxt {     
    padding-top: 8px;   
}

/* Quote section */
.quote-section {
    background-color: #E5E7EB;
    text-align: center;
}
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    padding: 30px 150px;
    align-items: center;
    text-align: justify;
}
.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    flex-wrap: wrap;    
}
.quotee {
    font-weight: bolder;
    color: #1F2937;
    align-self: flex-end;
    padding-right: 10px;
    padding-bottom: 30px;
    
}

/* Signup section */
.signup-section {
    padding: 100px;
}
.signup-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 30px 100px;
    flex-wrap: wrap;
}
.signup-left {
    color: #F9FAF8;
    flex: 1;
}

.signup-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.signup-subtxt {
    opacity: 0.8;
}

.signup-btn {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    padding: 12px 24px;
    color: #F9FAF8;
    border-radius: 5px;
}
/* Footer section */
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 2em;
}

